apiVersion: v1alpha1
kind: rule
meta:
  name: FetchGitHubDependabotAlerts
  purpose: Fetch Dependabot alerts for a GitHub repository
  description: Fetch Dependabot alerts for a GitHub repository
  labels:
    appType:
    - httprequest
    environment:
    - logical
    execlevel:
    - app
    provider:
      - github
spec:
  inputs:
    GitHubDependabotConditionConfig: <<MINIO_FILE_PATH>>
    GitHubDependabotInputFile: <<MINIO_FILE_PATH>>
    OutputFileFormat: JSON
    GitHubDependabotRequestConfig: <<MINIO_FILE_PATH>>
    GitHubDependabotResponseConfig: <<MINIO_FILE_PATH>>
    GitHubDependabotTransformConfig: <<MINIO_FILE_PATH>>
  inputsMeta__:
  - name: GitHubDependabotRequestConfig
    dataType: HTTP_CONFIG
    repeated: false
    format: toml
    defaultValue: <<MINIO_FILE_PATH>>
    allowedValues: []
    showField: true
    required: true
  - name: GitHubDependabotResponseConfig
    dataType: HTTP_CONFIG
    repeated: false
    format: toml
    defaultValue: <<MINIO_FILE_PATH>>
    allowedValues: []
    showField: true
    required: true
  - name: GitHubDependabotInputFile
    dataType: FILE
    repeated: false
    format: json
    defaultValue: <<MINIO_FILE_PATH>>
    allowedValues: []
    showField: true
    required: true
  - name: GitHubDependabotConditionConfig
    dataType: FILE
    repeated: false
    format: toml
    defaultValue: <<MINIO_FILE_PATH>>
    allowedValues: []
    showField: true
    required: true
  - name: OutputFileFormat
    dataType: STRING
    repeated: false
    defaultValue: JSON
    allowedValues:
    - JSON
    - CSV
    - PARQUET
    showField: true
    required: true
  - name: GitHubDependabotTransformConfig
    dataType: FILE
    repeated: false
    format: toml
    defaultValue: <<MINIO_FILE_PATH>>
    allowedValues: []
    showField: true
    required: true
  tasks:
  - name: ExecuteHttpRequestV2
    alias: FetchGitHubDependabotAlerts
    type: task
    appTags:
      appType:
      - httprequest
      environment:
      - logical
      execlevel:
      - app
      provider:
      - github
    purpose: List the details of Dependabot alerts for a GitHub repository
    description: List the details of Dependabot alerts for a GitHub repository
  - name: CheckConditionV2
    alias: FilterDependabotAlerts
    type: task
    appTags:
      appType:
      - nocredapp
      environment:
      - logical
      execlevel:
      - app
    purpose: Filter GitHub Dependabot alerts by vulnerability state (open, fixed,
      dismissed, auto_dismissed) and severity (low, medium, high, critical)
    description: Filter GitHub Dependabot alerts by vulnerability state (open, fixed,
      dismissed, auto_dismissed) and severity (low, medium, high, critical)
  - name: TransformDataV2
    alias: CreateCCowStandardFormat
    type: task
    appTags:
      appType:
      - nocredapp
      environment:
      - logical
      execlevel:
      - app
    purpose: Convert GitHub Dependabot alerts into the ComplianceCow standard
      format
    description: Convert GitHub Dependabot alerts into the ComplianceCow standard
      format
  ioMap:
  - FetchGitHubDependabotAlerts.Input.RequestConfigFile:=*.Input.GitHubDependabotRequestConfig
  - FetchGitHubDependabotAlerts.Input.ResponseConfigFile:=*.Input.GitHubDependabotResponseConfig
  - FetchGitHubDependabotAlerts.Input.InputFile:=*.Input.GitHubDependabotInputFile
  - FilterDependabotAlerts.Input.InputFile:=FetchGitHubDependabotAlerts.Output.OutputFile
  - FilterDependabotAlerts.Input.ConditionConfig:=*.Input.GitHubDependabotConditionConfig
  - FilterDependabotAlerts.Input.OutputFileFormat:=*.Input.OutputFileFormat
  - FilterDependabotAlerts.Input.LogFile:=FetchGitHubDependabotAlerts.Output.LogFile
  - CreateCCowStandardFormat.Input.InputFile1:=FilterDependabotAlerts.Output.MatchedConditionFile
  - CreateCCowStandardFormat.Input.TransformConfigFile:=*.Input.GitHubDependabotTransformConfig
  - CreateCCowStandardFormat.Input.OutputFileFormat:=*.Input.OutputFileFormat
  - CreateCCowStandardFormat.Input.LogFile:=FilterDependabotAlerts.Output.LogFile
  - '*.Output.CompliancePCT_:=CreateCCowStandardFormat.Output.CompliancePCT_'
  - '*.Output.ComplianceStatus_:=CreateCCowStandardFormat.Output.ComplianceStatus_'
  - '*.Output.LogFile:=CreateCCowStandardFormat.Output.LogFile'
  - '*.Output.GitHubDependabotAlertsReport:=CreateCCowStandardFormat.Output.OutputFile'
