jmespath==1.0.1
minio==7.2.18
requests==2.32.5
SQLAlchemy==2.0.44
xmltodict==1.0.2
PyYAML==6.0.3
azure-mgmt-resource==21.2.1
azure-identity==1.25.1
azure-mgmt-compute==37.1.0
paramiko==4.0.0
boto3==1.42.30
flatdict==4.0.0
okta==2.9.13
asyncio==4.0.0
jira==3.8.0
strongdm==15.26.0
protobuf==6.33.1
google-api-python-client==2.187.0
google-auth==2.41.0
google-auth-oauthlib==1.2.3
google-auth-httplib2==0.2.1
googleapis-common-protos==1.72.0
google-api-core==2.28.1
httplib2==0.31.0
reportlab==4.2.5