PyYAML==6.0.3
SQLAlchemy==2.0.44
asyncio==4.0.0
azure-identity==1.25.1
azure-mgmt-compute==37.1.0
azure-mgmt-resource==21.2.1
boto3==1.42.30
jmespath==1.0.1
flatdict==4.0.0
okta==2.9.13
minio==7.2.18
paramiko==4.0.0
requests==2.32.5
xmltodict==1.0.2